@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.cardResults{
    position: fixed;
    z-index: 2;
    right: 60px;
    top: 12.5rem;
    width: 20rem;
    max-height: 300px;
    overflow-y: auto;
}
.backToForm{
    position: fixed;
    left: 20px;
    top: 180px;;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.wrapperCard{
    position: fixed;
    z-index: 1;
    right: 60px;
    top: 10rem;
}
.iconAngledown {
    margin-top: 5px;
    float: right;
}
.buttonResults{
    position: fixed;
    z-index: 1;
    right: 60px;
    top: 10rem;
    width: 20rem;   
}

.MuiTypography-body1 {
    font-size: 0.8rem!important;
}
.tollsDesCards{
    float: right;
}
.cardDisCom{
    margin-left: 10px;
}
.badgeList{
    margin-left: 7rem;
}

@media (max-width: 768px) {
    .buttonResults{
        left: 1rem;
        top: 1rem;
        visibility: hidden;
    }
    .cardResults{
        left: 1rem;
        top: 1rem;
        visibility: hidden;
    }
}